.container {
  display: flex;
  height: 100vh;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.left {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.left img {
  max-width: 200px;
  height: auto;
  margin-bottom: 2rem;
}

.left p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--dark);
  max-width: 345px;
}

.loginBox {
  text-align: center;
}

.loginBox h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.githubButton {
  padding: 1rem 2rem;
  background-color: var(--dark-gray);
  color: var(--light);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.githubButton:hover {
  background-color: var(--dark);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    flex: none;
    width: 100%;
    height: auto;
  }

  .left img {
    max-width: 150px;
  }

  .left p {
    font-size: 1rem;
  }
}
