.container {
  display: flex;
  height: 100vh;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif;
}

.left {
  background-color: rgb(255, 218, 31);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.left img {
  max-width: 200px;
  height: auto;
  margin-bottom: 2rem;
}

.left p {
  font-size: 1.2rem;
  text-align: center;
  color: #000;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  text-align: center;
}

.loginBox h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.githubButton {
  padding: 1rem 2rem;
  background-color: #24292e;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.githubButton:hover {
  background-color: #000;
}
